/* Author JM Juif */
@media screen {
    :root {
        --ori-purple: #6f42c1;
        --ori-indigo: #6610f2;
        --ori-danger: #f74f78;
        --ori-primary: #766df4;
        --ori-secondary: #f7f7fc;
        --ori-pink: #d63384;
        --ori-blue: #0d6efd;
        --ori-green: #198754;
        --ori-red: #dc3545;
        --ori-cyan: #0dcaf0;
        --ori-teal: #20c997;
        --ori-orange: #fd7e14;
        --ori-info: #6a9bf4;
        --ori-success: #16c995;
        --ori-yellow: #ffc107;
        --ori-gray: #737491;
        --ori-gray-dark: #4a4b65;
        --ori-warning: #ffb15c; 
        --ori-dark: #37384e;
        --ori-light: #fff;
    }
    body {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #737491;
    }

    a {
        color: #766df4;
        /* color: var(--ori-primary); */
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

    h3 {
        line-height: 1.3;
    }

    h4 {
        line-height: 1.35;
    }

    /* Fonts Sizes */
    .fs-base {
        font-size: 1rem !important;
    }
    .fs-xs {
        font-size: .75rem !important;
    }
    .fs-md {
        font-size: .9375rem !important;
    }

    /* Fonts weight */
    .fw-medium {
        font-weight: 500 !important;
    }
    .fw-semibold {
        font-weight: 600 !important;
    }

    .text-heading {
        color: var(--ori-gray-dark);
    }

    /* Margin & Padding */
    .mt-n1 {
        margin-top: -.25rem !important;
    }
    .py-sm-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    /* Opacity */
    .opacity-50 {
        opacity: .5 !important;
    }

    /* Letter spacing */
    .letter-space-2 {
        letter-spacing: -2px;
    }

    /* Components */
    .card {
        min-height: .01px ;
    }

    /* Grid */
    .mb-grid-gutter {
        margin-bottom: 1.875rem !important;
    }
    .align-items-center {
        align-items: center !important;
    }
}

/* Colors */

.ori-bg-dark {
    background-color: var(--ori-dark);
}

.ori-bg-darker {
    background-color: #2c2d3f;
}

.ori-pink {
    color: var(--ori-pink);
}
.ori-primary {
    color: #5549f1
}

.text-primary {
    color: var(--ori-primary) !important;
}

.text-dark {
    color: var(--ori-dark);
}

.btn-primary {
    color: #fff;
    background-color: var(--ori-primary);
    border-color: var(--ori-primary);
    box-shadow: unset;
}
.btn-primary:hover {
    background-color: #5549f1;
    border-color: #5549f1;
}

.bi.bi-cart:hover {
    color: var(--ori-primary);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

/* Layout */
.page-wrapper {
    flex: 1 0 auto;
}

.navbar-tool .nav-bar-tool-icon-box {
    position: relative;
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.375rem;
    text-align: center;
}

.navbar-tool .navbar-tool-badge {
    position: absolute;
    top: .125rem;
    right: -.5625rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    background-color: var(--ori-primary);
    color: #fff;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.125rem;
}

.navbar-shadow {
    box-shadow: 0 0.125rem 0.625rem -0.1875rem rgba(0,0,0,0.1);
}

/* Cart Canvas */
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1080;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    box-shadow: -0.0625rem 0 0.625rem 0 rgba(0,0,0,0.07),0.3125rem 1.25rem 2.5rem 0 rgba(0,0,0,0.04);
    transition: transform .3s ease-in-out;
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: 22rem;
    border-left: 0 solid rgba(0,0,0,0);
    transform: translateX(100%);
}

.offcanvas {
    will-change: transform, box-shadow;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow 0.3s ease;
    box-shadow: none;
    visibility: visible !important;
}

.offcanvas-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 1.25rem 1.5rem;
}

.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}

.card {
    border-radius: calc(1rem - 1px);
}

.card-hover {
    transition: border-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
}

.card.card-hover:hover,
.card.card-active {
    cursor: pointer;
    border-color: rgba(118,109,244,0.35) !important;
    box-shadow: 0.1875rem 0.1875rem 0.625rem -0.125rem rgba(0,0,0,0.09) !important;
}

.card-product {
    /* border: 1px solid red; */
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
}

.card-img-top {
    display: block;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    position: relative;
    z-index: 1;
}

/* body > div.container.mt-5 > div > div:nth-child(5) > div > a > img {
    height: 11rem;
} */

.card-product .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    padding-right: 1.25rem;
    padding-bottom: 1.375rem;
    padding-left: 1.25rem;
    border: 0;
}

.card-footer {
    padding: .75rem 1.5rem;
    background-color: rgba(0,0,0,0);
    border-top: 1px solid rgba(0,0,0,0.085);
}
.card-footer:last-child {
    border-radius: 0 0 calc(1rem - 1px) calc(1rem - 1px);
}

.meta-link {
    transition: color 0.2s ease-in-out;
    color: #797a95;
    vertical-align: middle;
    text-decoration: none;
}
.meta-link:hover,
.btn-wishlist:hover {
    color: var(--ori-dark);
}

.sr-star {
    display: inline-block;
    margin-right: .125rem;
    color: #bbbbca;
    font-size: .8125rem;
    vertical-align: middle;
}
.sr-start.active {
    color: var(--ori-warning);
}

.btn-whislist,
.btn-addtocart,
.btn-remove,
.btn-details {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.btn-wishlist {
    color: #9e9fb4;
    font-size: 1.25rem;
}

.btn-wishlist .btn-tooltip,
.btn-addtocart .btn-tooltip,
.btn-remove .btn-tooltip,
.btn-details .btn-tooltip {
    position: absolute;
    left: 50%;
    bottom: 100%;
    padding: .2083333333rem .4166666667rem;
    transform: translateX(-50%);
    transition: opacity .2s ease-in-out;
    border-radius: .375rem;
    background-color: #37384e;
    color: #fff;
    font-size: .75rem;
    white-space: nowrap;
    opacity: 0;
}

.btn-divider {
    display: inline-block;
    width: 1px;
    height: 1.5rem;
    margin: 0 .75rem;
    background-color: #e9e9f2;
}

.btn-addtocart {
    color: var(--ori-primary);
    font-size: 1.375rem;
    white-space: nowrap;
}

.widget-title {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
}

.widget-light .widget-title {
    color: #FFF;
}

.widget ul,
.widget ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul>li,
.widget ol>li {
    display: block;
    margin-bottom: .375rem;
}

.widget-link {
    display: block;
    position: relative;
    padding: 0.25rem 0;
    transition: color 0.25s ease-in-out;
    color: #5a5b75;
    font-weight: 500;
    text-decoration: none;
}

.widget-light .widget-link {
    color: rgba(255,255,255,0.7);
    font-weight: normal;
}

.widget-light .widget-link:hover {
    color: #fff;
}

footer > div.container > div > div:nth-child(3) > div {
    max-width: 24rem;  
}
.bi.bi-truck,
.bi.bi-arrow-repeat,
.bi.bi-question-circle,
.bi.bi-credit-card-2-front {
    font-size: 2.125rem;
}

@media only screen and (min-width: 768px) {
    .pt-md-6 {
        padding-top: 5rem !important;
    }
    .pb-md-3 {
        padding-bottom: 1rem !important;
    }
    .py-md-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}
