/* Error: Undefined mixin.
 *    ,
 * 94 | /         @include medium {
 * 95 | |             margin-bottom: 5rem;
 * 96 | \         }
 *    '
 *   SASS/utils/_variables.scss 94:9  @import
 *   SASS/style.scss 1:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 94 \2502  \250c          @include medium {\a 95 \2502  \2502              margin-bottom: 5rem;\a 96 \2502  \2514          }\a    \2575 \a   SASS/utils/_variables.scss 94:9  @import\a   SASS/style.scss 1:9              root stylesheet";
}
