@media screen {
  :root {
    --ori-purple: #6f42c1;
    --ori-indigo: #6610f2;
    --ori-danger: #f74f78;
    --ori-primary: #766df4;
    --ori-secondary: #f7f7fc;
    --ori-pink: #d63384;
    --ori-blue: #0d6efd;
    --ori-green: #198754;
    --ori-red: #dc3545;
    --ori-cyan: #0dcaf0;
    --ori-teal: #20c997;
    --ori-orange: #fd7e14;
    --ori-info: #6a9bf4;
    --ori-success: #16c995;
    --ori-yellow: #ffc107;
    --ori-gray: #737491;
    --ori-gray-dark: #4a4b65;
    --ori-warning: #ffb15c;
    --ori-dark: #37384e;
    --ori-light: #fff;
  }

  /* background */
  .ori-bg-dark {
    background-color: var(--ori-dark);
  }

  .ori-bg-darker {
    background-color: #2c2d3f;
  }

  .ori-bg-primary {
    background-color: var(--ori-primary);
  }

  .ori-bg-secondary {
    background-color: var(--ori-secondary);
  }

  .ori-bg-success {
    background-color: var(--ori-success);
  }

  /* Typo Colors */
  .ori-gray-dark {
    color: var(--ori-gray-dark);
  }

  .ori-pink {
    color: var(--ori-pink);
  }

  .ori-primary {
    color: #5549f1;
  }

  .text-primary {
    color: var(--ori-primary) !important;
  }

  .text-dark {
    color: var(--ori-dark);
  }

  .text-heading {
    color: var(--ori-gray-dark);
  }

  .text-body {
    color: var(--ori-gray) !important;
  }

  .text-nav {
    color: #5a5b75;
  }

  /* Fonts Sizes */
  .fs-base {
    font-size: 1rem;
  }

  .fs-xs {
    font-size: 0.75rem;
  }

  .fs-ms {
    font-size: 0.8125rem;
  }

  .fs-sm {
    font-size: 0.875rem;
  }

  .fs-md {
    font-size: 0.9375rem;
  }

  .fs-xl {
    font-size: 1.25rem;
  }

  .fs-lg {
    font-size: 1.125rem;
  }

  /* Fonts weight */
  .fw-medium {
    font-weight: 500;
  }

  .fw-semibold {
    font-weight: 600;
  }

  /* **************** */
  /* Margin & Padding */
  /* **************** */
  .mt-n1 {
    margin-top: -0.25rem;
  }

  /* Grid */
  .mb-grid-gutter {
    margin-bottom: 1.875rem;
  }

  .py-sm-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .pb-6 {
    padding-bottom: 5rem;
  }

  /* Letter spacing */

  /* ******* */
  /* Opacity */
  /* ******* */

  /* ******* */
  /* Borders */
  /* ******* */

  /* Layout */

  /* Orders */

  /* ***** */
  /* Forms */
  /* ***** */
}
@media only screen and (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .py-md-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
@media only screen and (min-width: 768px) {
  .pb-md-3 {
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .pt-md-6 {
    padding-top: 5rem;
  }
}
@media only screen and (min-width: 992px) {
  .me-lg-n2 {
    margin-right: -0.5rem;
  }
}
@media screen {
  .letter-space-2 {
    letter-spacing: -2px;
  }
}
@media screen {
  .opacity-50 {
    opacity: 0.5;
  }
}
@media screen {
  .border-primary {
    border-color: rgba(118, 109, 244, 0.35) !important;
  }
}
@media screen {
  .page-wrapper {
    flex: 1 0 auto;
  }
}
@media screen {
  .order-sm-2 {
    order: 2;
  }
}
@media screen {
  .btn-primary {
    color: #fff;
    background-color: var(--ori-primary);
    border-color: var(--ori-primary);
    box-shadow: unset;
  }
}
@media screen {
  .btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.show {
    background-color: #5549f1;
    border-color: #5549f1;
  }
}
@media screen {
  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
  }
}
@media screen {
  .btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.show {
    border-color: #9e9fb4;
    background-color: transparent;
    color: var(--ori-gray-dark);
  }
}
@media screen {
  .form-label {
    padding-left: 1.125rem;
    color: var(--ori-gray-dark);
  }
}
@media screen {
  .form-check-input:checked {
    background-color: var(--ori-primary);
    border-color: var(--ori-primary);
  }
}
* {
  box-sizing: border-box;
}

@media screen {
  html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #737491;
    background-color: #fff;
  }

  a {
    text-decoration: none;
    color: #766df4;
    transition: color 0.2s ease-in-out;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  h3 {
    line-height: 1.3;
  }

  h6, .h6 {
    line-height: 1.4;
  }
}
/* Spcifics components for this website */
.star-rating {
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  vertical-align: middle;
}
.star-rating .bi-star-fill,
.star-rating .bi-star {
  font-size: 0.8125rem;
}
.star-rating .bi-star-fill {
  color: var(--ori-warning);
}

.star-rating-lg {
  font-size: 0.9375rem;
}

.card {
  border-radius: calc(1rem - 1px);
}

.card-product {
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
}
.card-product .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-right: 1.25rem;
  padding-bottom: 1.375rem;
  padding-left: 1.25rem;
  border: 0;
  background: rgba(0, 0, 0, 0);
}
.card-product .card-footer .btn-wishlist {
  font-size: 1.25rem;
  color: #9e9fb4;
}
.card-product .card-footer .btn-wishlist:hover, .card-product .card-footer .btn-wishlist:active, .card-product .card-footer .btn-wishlist:focus {
  color: var(--ori-dark);
}
.card-product .card-footer .btn-divider {
  display: inline-block;
  width: 1px;
  height: 1.5rem;
  margin: 0 0.75rem;
  background-color: #e9e9f2;
}
.card-product .card-footer .btn-addtocart {
  white-space: nowrap;
  font-size: 1.375rem;
  color: var(--ori-pink);
}
.card-product .card-footer .btn-addtocart:hover, .card-product .card-footer .btn-addtocart:active, .card-product .card-footer .btn-addtocartfocus {
  color: var(--ori-primary);
}

.card-hover {
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-hover:hover,
.card-hover:focus,
.card-hover:active {
  border-color: rgba(118, 109, 244, 0.35);
  box-shadow: 0.1875rem 0.1875rem 0.625rem -0.125rem rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

.card-img-top img {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}

.view.show {
  display: block;
}

.password-toggle {
  position: relative;
}

.password-toggle-btn {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  margin-bottom: 0;
  padding: 0.5rem;
  transform: translateY(-50%);
  font-size: 1.125rem;
  line-height: 1;
  cursor: pointer;
}

.nav-link .bi.bi-cart:hover,
.nav-link .bi.bi-cart:focus,
.nav-link .bi-bi-cart:active {
  color: var(--ori-primary);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar-tool .border-start {
  height: 30px;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.2);
  display: none;
}
@media only screen and (min-width: 768px) {
  .navbar-tool .border-start {
    display: block;
  }
}
.navbar-tool .nav-bar-tool-icon-box {
  position: relative;
  width: 2.75rem;
  height: 2.75rem;
  font-size: 1.375rem;
  text-align: center;
}
.navbar-tool .nav-bar-tool-icon-box .navbar-tool-badge {
  position: absolute;
  top: 0.125rem;
  right: -0.5625rem;
  width: 1.125rem;
  height: 1.125rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.125rem;
  border-radius: 50%;
  background-color: var(--ori-primary);
  color: #fff;
}

.meta-link {
  transition: color 0.2s ease-in-out;
  color: #797a95;
  vertical-align: middle;
  text-decoration: none;
}
.meta-link:hover, .meta-link:focus, .meta-link:active {
  color: var(--ori-dark);
}

.offcanvas .btn-close {
  padding: 0.625rem 0.75rem;
  margin: -0.625rem -0.75rem -0.625rem auto;
}
.offcanvas .lead {
  font-size: calc(1.275rem + .3vw);
  font-weight: 400;
}
.offcanvas .navbar-shadow {
  box-shadow: 0 0.125rem 0.625rem -0.1875rem rgba(0, 0, 0, 0.1);
}
.offcanvas .simplebar-content {
  border-bottom: 1px solid var(--ori-primary);
}
.offcanvas .simplebar-content::after, .offcanvas .simplebar-content::before {
  content: " ";
  display: table;
}
.offcanvas .simplebar-content .nav-heading,
.offcanvas .simplebar-content .nav-heading a,
.offcanvas .simplebar-content .nav-heading .nav-heading-title {
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;
  color: #4a4b65;
  font-weight: 600;
  text-decoration: none;
}
.offcanvas .simplebar-content .nav-heading:hover,
.offcanvas .simplebar-content .nav-heading a:hover,
.offcanvas .simplebar-content .nav-heading .nav-heading-title:hover {
  color: #766df4;
}
.offcanvas input {
  max-width: 3.5rem;
}
.offcanvas .form-control-sm {
  min-height: calc(1.5em + .85rem + 2px);
  padding: 0.425rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}
.offcanvas .cancel-button {
  cursor: pointer;
}

footer {
  flex-shrink: 0;
}
footer .widget ul,
footer .widget ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .widget ul > li,
footer .widget ol > li {
  display: block;
  margin-bottom: 0.375rem;
}

.widget-title {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
}

.widget-light {
  color: #fff;
}
.widget-light p {
  color: rgba(255, 255, 255, 0.7);
}

.widget-link {
  display: block;
  position: relative;
  padding: 0.25rem 0;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.25s ease-in-out;
}
.widget-link:hover, .widget-link:focus, .widget-link:active {
  color: #fff;
}

.bi.bi-truck,
.bi.bi-arrow-repeat,
.bi.bi-question-circle,
.bi.bi-credit-card-2-front {
  font-size: 2.125rem;
}

@media only screen and (min-width: 992px) {
  .sidebar {
    position: relative;
    background-color: #f7f7fc;
    z-index: 5;
  }
}

@media only screen and (min-width: 992px) {
  .sidebar-enabled {
    position: relative;
  }
}

@media only screen and (min-width: 992px) {
  .sidebar-enabled::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #f7f7fc;
    content: "";
  }
}

@media only screen and (min-width: 992px) {
  .sidebar-enabled .content {
    position: relative;
    padding-left: 2.5rem;
    background-color: #fff;
    z-index: 2;
  }
}

@media only screen and (min-width: 992px) {
  .sidebar-enabled.sidebar-end .content {
    padding-left: 0.9375rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .sidebar-enabled .content {
    position: relative;
    padding-left: 2.5rem;
    background-color: #fff;
    z-index: 2;
  }
}

@media only screen and (min-width: 992px) {
  .sidebar-enabled.sidebar-end::before {
    right: 0;
    left: auto;
  }
}

.content .product-gallery-preview {
  position: relative;
  width: 100%;
  margin-top: 0.75rem;
}
.content .btn-social .bi {
  font-size: 1.5rem;
}

.btn-social {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  font-size: 0.9375rem;
  text-align: center;
  border: 1px solid transparent;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  border-radius: 0.5rem;
  background-color: #f3f3f9;
  color: #6c6d89;
  text-decoration: none;
}

.bs-outline {
  border-color: #e5e5ef;
  background-color: transparent;
}

.bs-facebook:hover,
.bs-twitter:hover,
.bs-google:hover,
.bs-mail:hover {
  background-color: #3b5998;
  color: #fff;
}
.bs-facebook:hover.bs-light,
.bs-twitter:hover.bs-light,
.bs-google:hover.bs-light,
.bs-mail:hover.bs-light {
  color: #3b5998;
}

#quantity-input {
  width: 5rem;
}

.input-number-sm {
  max-width: 3.5rem;
}

.card-body .progress {
  height: 4px;
}
.card-body .progress .progress-bar {
  width: 36%;
  background-color: var(--ori-primary);
}
.card-body .tracking-badge {
  width: 60px !important;
  height: 60px !important;
  line-height: 54px !important;
}

/*# sourceMappingURL=main.css.map */
