@import "./utils/variables";
@import "./utils/mixins";
@import "./base/setup";
@import "./components/card";
@import "./layouts/navbar";
// @import "./layouts/header";
@import "./layouts/offcanvas";
@import "./layouts/footer";
@import "./pages/index.scss";
@import "./pages/shop-single";

// To run SASS
// npm run sass (execute SASS with --watch)
