@import "./utils/mixins";
@import "./utils/variables";
@import "./base/setup";
@import "./components/shop";
@import "./components/card";
@import "./layouts/navbar";
// @import "./layouts/header";
@import "./layouts/offcanvas";
@import "./layouts/footer";
@import "./pages/index.scss";
@import "./pages/shop-single";
@import "./pages/checkout";

// To run SASS
// npm run sass (execute SASS with --watch)
