section {
    .sidebar {
        @include large {
            position: relative;
            background-color: #f7f7fc;
            z-index: 5;
        }
    }
    .sidebar-enabled {
        @include large {
            position: relative;
        }
    }
    .sidebar-enabled::before {
        @include large {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            height: 100%;
            background-color: #f7f7fc;
            content: '';
        }
    }
    .sidebar-enabled .content {
        @include large {
            position: relative;
            padding-left: 2.5rem;
            background-color: #fff;
            z-index: 2;
        }
    }
    .sidebar-enabled.sidebar-end .content {
        @include large {
            padding-left: .9375rem;
            padding-right: 2.5rem;
        }
    }
    .sidebar-enabled .content {
    @include large {
        position: relative;
        padding-left: 2.5rem;
        background-color: #fff;
        z-index: 2;
    }
}
    .sidebar-enabled.sidebar-end::before {
        @include large {
            right: 0;
            left: auto;
        }
    }

    .content {
        .product-gallery-preview {
            position: relative;
            width: 100%;
            margin-top: .75rem;
        }
        .btn-social {
            .bi {
                // border: 1px solid red;
                font-size: 1.5rem;
            }
        }
    }
}

.btn-social {
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0;
    font-size: .9375rem;
    text-align: center;
    border: 1px solid transparent;
    transition: border-color 0.25s ease-in-out,background-color 0.25s ease-in-out,color 0.25s ease-in-out;
    border-radius: .5rem;
    background-color: #f3f3f9;
    color: #6c6d89;
    text-decoration: none;
}

.bs-outline {
    border-color: #e5e5ef;
    background-color: transparent;
}

.bs-facebook:hover,
.bs-twitter:hover,
.bs-google:hover,
.bs-mail:hover {
    background-color: #3b5998;
    color: #fff;
    &.bs-light { color: #3b5998; }
}

#quantity {
    width: 5rem;
}
    








