<!doctype html>
<html class="no-js" lang="fr">

<head>
  <meta charset="utf-8">
  <title>Orinoco | checkout</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="../site.webmanifest">

  <link rel="apple-touch-icon" href="icon.png">
  <link rel="icon" type="image/png" href="../favicon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  
  <!-- link rel="stylesheet" href="css/normalize.css" -->
  <link rel="stylesheet" href="../css/main.css">

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
  
  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <main class="page-wrapper">
    
    <!-- Sign In Modal -->
    <div class="modal fade" id="modal-signin" tabindex="-1" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
          <div class="view show" id="modal-signin-view">
            <div class="modal-header border-0 ori-bg-dark px-4">
              <h4 class="modal-title text-light">Se connecter</h4>
              <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
            </div>
            <div class="modal-body px-4">
              <p class="fs-ms text-muted">
                Connectez-vous à votre compte avec votre email et votre mot de passe reçus lors de votre enregistrement.
              </p>
              <form class="" novalidate>
                <div class="mb-3">
                  <div class="input-group">
                    <!-- <i class="bi bi-envelope ms-3"></i> -->
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input class="form-control rounded" type="email" placeholder="email" required />
                  </div>
                </div>
                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="bi bi-lock"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required />
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="keep-signed" />
                    <label for="keep-signed" class="form-check-label">
                      Rester connecté
                    </label>
                  </div>
                  <a href="#" class="nav-link-style fs-ms">
                    Mot de passe oublié
                  </a>
                </div>
                <button class="btn btn-primary d-block w-100" type="submit">
                  Connection
                </button>
                <p class="fs-sm pt-3 mb-0">
                  Pas encore de compte ?
                  <a href="#" class="fw-medium" data-view="#modal-signup-view">Créer un compte</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Shopping cart off-canvas on right side of the viewport -->
    <div aria-hidden="true" class="offcanvas offcanvas-end" data-bs-scroll="true" id="shoppingCart" style="visibility: hidden">
      <!-- Offcanvas header -->
      <div class="offcanvas-header navbar-shadow px-4 mb-2">
        <h5 class="mt-1 mb-0" id="cart-state2">Votre Panier Orinoco est vide.</h5>
        <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <!-- offcanvas body -->
      <div class="offcanvas-body p-4" data-simplebar="init">
        <div class="simplebar-wrapper" syle="margin: -24px">
          <div class="simplebar-content">

            <!-- item -->
            <div id="cart-item-wrapper2">
            </div>
            <!-- item end -->

          </div>
        </div>
      </div>
      <!-- offcanvas body end -->

      <!-- offcanvas footer -->
      <div class="offcanvas-footer d-block border-top px-4 mb-2">
        <div class="d-flex justify-content-between mb-4">
          <span>Total :</span>
          <span class="h6 mb-0 text-dark totalWithoutTaxes">0,00 €</span>
        </div>
        <a href="./checkout.html" class="btn btn-primary btn-sm d-block w-100">
          <i class="bi bi-credit-card fs-base me-2"></i>
          Passer la commande
        </a>
        <button id="clearCart" class="btn btn-outline-danger btn-sm w-100 mt-1">
          <i class="bi bi-x-square fs-base me-2"></i>
          Vider
        </button>
      </div>
    </div>

    <header>
      <!-- Navigation block collapsing -->
      <nav class="navbar navbar-expand-md navbar-dark ori-bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">
            <img src="../img/orinoco_logo_white.png" alt="Orinoco logo" width="120" height="30">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item mt-3">
                <a class="nav-link" aria-current="page" href="../index.html">Accueil</a>
              </li>
            </ul>
            <div class="navbar-nav nav-item navbar-tool">
              <a href="#" class="nav-link">
                <i class="bi bi-search fs-2"></i>
              </a>
              <a  class="nav-link"
                  href="#modal-signin"
                  data-bs-toggle="modal"
                  data-view="#modal-signin-view"
              >
                <i class="bi bi-person fs-2"></i>
              </a>
              <div class="border-start me-2"></div>
              <a  class="nav-link nav-bar-tool-icon-box"
                  href="#"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#shoppingCart"
              >
                <i class="bi bi-cart fs-2 ori-pink"></i>
                <span class="navbar-tool-badge" id="badge">0</span>
              </a>
            </div>
          </div>
        </div>
      </nav>
      <!-- End navigation block collapsing -->
    </header>

    <!-- Coupon code modal -->

    <!-- cart validation -->
    <form class="sidebar-enabled sidebar-end needs-validation" id="orderForm" name="orderForm" action="./order-tracking.html" novalidate>
      <div class="container">
        <div class="row">
          <!-- content -->
          <div class="col-lg-8 content py-4">
            <h1 class="mb-3 pb-4">Commander</h1>
            <h2 class="h3 pb-3"> Récapitulatif de votre commande</h2>
            <div class="row mb-4">
              <!-- Last Name (nom) -->
              <div class="col-sm-6 mb-3 pb-1">
                <label for="lastName" class="form-label">
                  Nom
                  <sup class="text-danger ms-1">*</sup>
                </label>
                <input type="text" class="form-control" id="lastName" name="lastName" required autofocus />
                <div class="invalid-feedback">Entrer un nom valide.</div>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <!--First name (prénom) -->
              <div class="col-sm-6 mb-3 pb-1">
                <label for="firstName" class="form-label">
                  Prénom
                  <sup class="text-danger ms-1">*</sup>
                </label>
                <input type="text" class="form-control" id="firstName" name="firstName" required />
                <div class="invalid-feedback">Entrer un prénom valide.</div>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <!-- Adress 1 -->
              <div class="col-12 mb-3 pb-1">
                <label for="address" class="form-label">
                  Adresse
                  <sup class="text-danger ms-1">*</sup>
                </label>
                <input type="text" class="form-control" id="address" name="address" placeholder="N° et nom de la rue" required/>
                <div class="invalid-feedback">Enter une adresse valide</div>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <!-- Adress 2 -->
              <div class="col-12 mb-3 pb-1">
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Complément d'adresse" />
              </div>
              <!-- Post Code -->
              <div class="col-12 mb-3 pb-1">
                <label for="postcode" class="form-label">
                  Code Postal
                </label>
                <input type="text" class="form-control" id="postcode" name="postcode" />
                <div class="invalid-feedback">Entrer un code postal valide.</div>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <!-- Town City -->
              <div class="col-12 mb-3 pb-1">
                <label for="city" class="form-label">
                  Ville
                  <sup class="text-danger ms-1">*</sup>
                </label>
                <input type="text" class="form-control" id="city" name="city" required />
                <div class="invalid-feedback">Entrer un nom de ville valide.</div>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <!-- Phone -->
              <div class="col-sm-6 mb-3 pb-1">
                <label for="phone" class="form-label">
                  Téléphone
                </label>
                <input type="text" class="form-control" id="phone" name="phone" />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <!-- Email -->
              <div class="col-sm-6 mb-3 pb-1">
                <label for="email" class="form-label">
                  Addresse Mail
                  <sup class="text-danger ms-1">*</sup>
                </label>
                <input type="mail" class="form-control" id="email" name="email" required />
                <div class="invalid-feedback">Entrer un email valide.</div>
                <div class="valid-feedback">Looks good!</div>
              </div>
            </div>
            <!-- Additionnal informations -->
            <h2 class="h3 pb-3">Informations complémentaires</h2>
            <label for="order-notes" class="form-label">
              Informations sur votre commande
            </label>
            <textarea
                      class="form-control"
                      id="order-notes"
                      name="order-notes"
                      row="5"
                      placeholder="Informations complémentaires au sujet de votre commande."
            ></textarea>
          </div> 
          <!-- Sidebar -->
          <div class="col-lg-4 sidebar ori-bg-light pt-5 ps-lg-4 pb-md-2">
            <div class="ps-lg-4 mb-3 pb-5 ">
              <!-- <h2 class="h4 pb-3">Votre panier Orinoco</h2> -->
              <h2 class="h4 pb-3" id="cart-state">Votre Panier Orinoco est vide.</h2>
            
              <!-- items injected by JavaScript -->
              <div id="cart-item-wrapper">
              </div>

              <hr class="mt-0 mb-4">

              <!-- Sub Total -->
              <div class="d-flex justify-content-between mb-3">
                <span class="h6 mb-0"><strong>Sous Total :</strong></span>
                <span class="text-nav totalWithoutTaxes" id="checkout-subtotal">0,00€</span>
              </div>
              <!-- TVA -->
              <div class="d-flex justify-content-between mb-3">
                <span class="h6 mb-0"><strong>TVA 20% :</strong></span>
                <span class="text-nav" id="checkout-taxes">0,00€</span>
              </div>
              <!-- Shipping -->
              <div class="d-flex justify-content-between mb-3">
                <span class="h6 mb-0"><strong>Livraison :</strong></span>
                <span class="text-nav" id="shipping">0,00€</span>
              </div>
              <!-- Total -->
              <div class="d-flex justify-content-between mb-grid-gutter ">
                <span class="h6 mb-0"><strong>Total TTC :</strong></span>
                <span class="h6 mb-0"><strong id="totalToBePaid">0,00€</strong></span>
              </div>
              <button class="btn btn-primary d-block w-100" type="submit" id="orderBtn">Valider la commande</button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </main>
    
  <!-- Footer bloc -->
  <footer class="footer ori-bg-dark pt-5 pt-md-6">
    <div class="container pt-3 pb-0 pt-md-0 pb-md-3">
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="widget widget-light pb-2 mb-4">
            <h4 class="widget-title">Nos produits</h4>
            <ul>
              <li><a href="#" class="widget-link">Teddys</a></li>
              <li><a href="#" class="widget-link">Furnitures</a></li>
              <li><a href="#" class="widget-link">Cameras</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget widget-light pb-2 mb-4">
            <h4 class="widget-title">Espace client</h4>
            <ul>
              <li><a href="#" class="widget-link">Votre compte</a></li>
              <li><a href="#" class="widget-link">Conditions de vente</a></li>
              <li><a href="#" class="widget-link">Echanges & Remboursements</a></li>
              <li><a href="#" class="widget-link">Suivi de commandes</a></li>
              <li><a href="#" class="widget-link">Information livraison</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget widget-light pb-2 mb-4">
            <h4 class="widget-title">News Letter</h4>
            <p>Recevez notre News Letter pour rester informé de la sortie de nos nouveaux produits.</p>
          </div>
          <div class="widget widget-light pb-2 mb-4">
            <h4 class="widget-title">Téléchargez notre application</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="ori-bg-darker pt-2">
      <div class="container py-sm-3">
        <div class="row pb-4 mb-2 pt-5 py-md-5">
          <!-- Service #1 -->
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex align-items-center">
              <i class="bi bi-truck text-primary"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Livraison gratuite</h6>
                <p class="mb-0 fs-xs text-light opacity-50">Livraison gratuite à partir de 200€</p>
              </div>
            </div>
          </div>
          <!-- Service #2 -->
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex align-items-center">
              <i class="bi bi-arrow-repeat text-primary"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Remboursement Garanti</h6>
                <p class="mb-0 fs-xs text-light opacity-50">Dans les 30 jours suivants votre achat</p>
              </div>
            </div>
          </div>
          <!-- Service #3 -->
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex align-items-center">
              <i class="bi bi-question-circle text-primary"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Support Clients</h6>
                <p class="mb-0 fs-xs text-light opacity-50">Du lundi au samedi</p>
              </div>
            </div>
          </div>
          <!-- Service #4 -->
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex align-items-center">
              <i class="bi bi-credit-card-2-front text-primary"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Paiement sécurisé</h6>
                <p class="mb-0 fs-xs text-light opacity-50">Sécurisation SSL des règlements</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>  
  
  <!-- JavaScript Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <!-- JavaScript -->
  <script src="../js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="../js/plugins.js"></script>

  <!-- JS file without webpack -->
  <script type="module" src="../js/checkout.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->

</body>

</html>
