// Media Queries

// Small > sm >= 375px
@mixin small {
    @media only screen and (min-width: 576px) {
      @content;
    }
}
  
  // Medium > md >= 768px
  @mixin medium {
    @media only screen and (min-width: 768px) {
      @content;
    }
}

// large > lg >= 992px
@mixin large {
    @media only screen and (min-width: 992px) {
        @content;
    }
}
    
// Extra large > xl >= 1200px
@mixin extra-large {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}
  
// Extra extra large > xxl > 1440px
@mixin xxl {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}