@media screen {
    // Colors theme for this project
    :root {
        --ori-purple: #6f42c1;
        --ori-indigo: #6610f2;
        --ori-danger: #f74f78;
        --ori-primary: #766df4;
        --ori-secondary: #f7f7fc;
        --ori-pink: #d63384;
        --ori-blue: #0d6efd;
        --ori-green: #198754;
        --ori-red: #dc3545;
        --ori-cyan: #0dcaf0;
        --ori-teal: #20c997;
        --ori-orange: #fd7e14;
        --ori-info: #6a9bf4;
        --ori-success: #16c995;
        --ori-yellow: #ffc107;
        --ori-gray: #737491;
        --ori-gray-dark: #4a4b65;
        --ori-warning: #ffb15c; 
        --ori-dark: #37384e;
        --ori-light: #fff;
    }

    // Colors utilities
    
    .ori-bg-dark {
        background-color: var(--ori-dark);
    }

    .ori-bg-darker {
        background-color: #2c2d3f;
    }

    .ori-pink {
        color: var(--ori-pink);
    }
    .ori-primary {
        color: #5549f1
    }

    .text-primary {
        color: var(--ori-primary);
    }

    .text-dark {
        color: var(--ori-dark);
    }

    .text-heading {
        color: var(--ori-gray-dark);
    }

    // Fonts utilities

    /* Fonts Sizes */
    .fs-base {
        font-size: 1rem;
    }
    .fs-xs {
        font-size: .75rem;
    }
    .fs-md {
        font-size: .9375rem;
    }

    /* Fonts weight */
    .fw-medium {
        font-weight: 500;
    }
    .fw-semibold {
        font-weight: 600;
    }

    /* **************** */
    /* Margin & Padding */
    /* **************** */
    
    .mt-n1 {
        margin-top: -.25rem;
    }
        /* Grid */
    .mb-grid-gutter {
        margin-bottom: 1.875rem;
    }
    .py-sm-3 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* Letter spacing */
    .letter-space-2 {
        letter-spacing: -2px;
    }

    /* ******* */
    /* Opacity */
    /* ******* */
    
    .opacity-50 {
        opacity: .5;
    }

    /* Layout */
    .page-wrapper {
        flex: 1 0 auto;
    }
    
    // buttons
    .btn-primary {
        color: #fff;
        background-color: var(--ori-primary);
        border-color: var(--ori-primary);
        box-shadow: unset;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.show {
        background-color: #5549f1;
        border-color: #5549f1;
    }



}