footer {
    
    flex-shrink: 0;

    .widget ul,
    .widget ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .widget ul>li,
    .widget ol>li {
        display: block;
        margin-bottom: .375rem;
    }
}

.widget-title {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
}
.widget-light {
    color: #fff;
        p {
            color: rgba(255,255,255,0.7);
        }
}

.widget-link {
    display: block;
    position: relative;
    padding: 0.25rem 0;
    font-weight: normal;
    color: rgba(255,255,255,0.7);
    transition: color 0.25s ease-in-out;
    // text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }
}

.bi.bi-truck,
.bi.bi-arrow-repeat,
.bi.bi-question-circle,
.bi.bi-credit-card-2-front {
    font-size: 2.125rem;
}